<div style="text-align: center; padding: 40px;">
    <div>
        <h1><strong>Hello {{ user.email }}</strong></h1>

        <h2>To change your password, click the button below.</h2>


        <div style="padding-left: 40%;padding-right: 40%;"><a href="{{ APP_URL ~ '/auth/reset-password/' ~ user.reminder.code }}"
                                                              style="background: #37c2ef; border: 15px solid #37c2ef; font-family: sans-serif; font-size: 13px; line-height: 1.1; text-align: center; text-decoration: none; display: block; border-radius: 3px; font-weight: bold;"
                                                              class="button-a">
                <span style="color:#ffffff;" class="button-link">&nbsp;&nbsp;&nbsp;&nbsp;Change Password!&nbsp;&nbsp;&nbsp;&nbsp;</span>
            </a></div>
    </div>
</div>
